auto-install-peers=true
engine-strict=true
shamefully-hoist=true
@phaneroz-labs:registry=https://npm.pkg.github.com
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}